{% extends 'base.html' %}

{% block content %}
    <h2>Homepage of the site</h2>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon"/>
        <button type="button" class="btn btn-outline-primary">Search</button>
    </div>
    <hr>
    <div>
        {% for image in image_list %}
            <div class="card mb-3">
                <a href="{% url 'portfolio:image_details' image.pk %}">
                    <img src="{{ image.photo.url }}" class="card-img-top img-thumbnail" alt="" style="width:300px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ image.name }}</h5>
                    <p class="card-text">{{ image.description|truncatewords:"15" }}</p>
                    <p class="card-text">Portfolio:
                        <a href="{% url 'portfolio:portfolio_details' image.portfolio_id %}">
                            {{ image.portfolio.name }}
                        </a>
                    </p>
                    <p class="card-text"><small class="text-muted">Created at: {{ image.created_at }}</small></p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}